POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

JWT_SECRET_KEY=

SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
API_BASE_URL=
BASE_URL=

# Digital Ocean Spaces (S3-compatible)
DO_SPACES_KEY=
DO_SPACES_SECRET=
DO_SPACES_BUCKET=
DO_SPACES_REGION=
