.header {
  height: 60px;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
}

.headerContent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  cursor: pointer;
}
