.qrCode {
  border: 4px solid var(--mantine-color-gray-2);
  border-radius: var(--mantine-radius-md);
}

@media (prefers-color-scheme: dark) {
  .qrCode {
    border-color: var(--mantine-color-dark-4);
  }
}