.footer {
  padding: 24px 0;
  margin-top: auto;
  border-top: 1px solid var(--mantine-color-gray-2);
}

[data-mantine-color-scheme="dark"] .footer {
  border-top-color: var(--mantine-color-dark-4);
}

@media (max-width: 480px) {
  .footer > div > div {
    justify-content: center;
  }
}